@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .remove-button {
    font-size: 12px;
  }

  .input {
    font-size: 12px;
    text-align: center;
  }

}

body {
  background-color: lightblue;
}

.chart-area {}

.svg-canvas {}

.navbar {
  margin-bottom: 30px;
}